* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
	font-family: "Courier New", Courier, monospace;
}

tbody tr:hover {
	background-color: #e7e7e7;
}
td,
th {
	border: 1px solid #dddddd;
	text-align: center;
}
table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: auto auto;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
th {
	padding: 10px 0px;
}

button {
	width: 100px;
	height: 25px;
}

input[type="text"] {
	width: 100px;
	height: 25px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}
